<nav class="navbar navbar-expand navbar-light bg-light">
        <span class="navbar-brand h1 mb-0">{{title}}</span>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/books">Books</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/movies">Movies</a>
         </li>
         <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/users">Users</a>
         </li>
         <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/lendings">Lendings</a>
         </li>
        </ul>
</nav>
<router-outlet></router-outlet>
